# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
Zip=../../media/packs/OgreCore.zip

# Resource locations to be added to the default path
[General]
#FileSystem=../../media
#FileSystem=../../Media/fonts
#FileSystem=../../Media/materials/programs
FileSystem=../../media/materials/scripts
FileSystem=../../media/materials/textures
FileSystem=../../media/models
#FileSystem=../../Media/overlays
#FileSystem=../../Media/particle
#FileSystem=../../Media/gui
#FileSystem=../../Media/DeferredShadingMedia
